Repository SituDevelopment/play, pull requests merged in 2024-05, with the labels that each got.

#94 KAN-12-This-is-a-task-on-repo-1
  README.md
Labels: documentation

#96 Add description to readme
  README.md
Labels: documentation

#98 Update status-checks.yaml
  .github/workflows/status-checks.yaml
Labels: github_actions, chore

#95 Bump package.json version from 1.0.0 to 1.0.1
  package.json
Labels: dependencies, javascript
